<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} - Luke Chambers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
	
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.3/dist/css/bootstrap-material-design.min.css" integrity="sha384-k5bjxeyx3S5yJJNRD1eKUMdgxuvfisWKku5dwHQq9Q/Lz6H8CyL89KF52ICpX4cL" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        .fa {
            font-size: 12px;
            color: #A94442;
            vertical-align: text-top;
        }
        
        .barrelRoll {
            -webkit-transition: -webkit-transform 4s ease;
            -webkit-transform: rotate(360deg);
            -moz-transition: -moz-transform 4s ease;
            -moz-transform: rotate(360deg);
            -o-transition: -o-transform 4s ease;
            -o-transform: rotate(360deg);
            transition: transform 4s ease;
            transform: rotate(360deg);
        }

    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Luke Chambers</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://blog.lukepchambers.net/">Blog</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">More</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/ios">iOS Emulators</a>
                            <a class="dropdown-item" href="/minecraft">Minecraft</a>
                        </div>
                    </li>
                </ul>
                <button class="btn btn-raised btn-secondary" onclick="barrelRoll()">Secret...?</button>
            </div>
        </div>
    </nav>
    <br><br><br> {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button> {{ message|safe }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %} {% endwith %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <hr>
    <p align="center">
        <font size="4">&copy; <span id="copyrightYear">YEAR</span> Luke Chambers</font>
    </p>
    <script>
        $("#copyrightYear").text(moment().format("YYYY"));

                function barrelRoll() {
                    $("body").addClass("barrelRoll");
                    setTimeout(function() {
                        $("body").removeClass("barrelRoll");
                    }, 4000);
                }

    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/popper.js@1.12.5/dist/umd/popper.js" integrity="sha384-KlVcf2tswD0JOTQnzU4uwqXcbAy57PvV48YUiLjqpk/MJ2wExQhg9tuozn5A1iVw" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/bootstrap-material-design@4.0.0-beta.3/dist/js/bootstrap-material-design.js" integrity="sha384-hC7RwS0Uz+TOt6rNG8GX0xYCJ2EydZt1HeElNwQqW+3udRol4XwyBfISrNDgQcGA" crossorigin="anonymous"></script>
	<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
</body>

</html>
