{% block title %}Contact{% endblock %} {% extends 'base.html' %} {% block content %}
<div class="jumbotron">
    <h1 class="display-3">Contact</h1>
    <p class="lead">Have something you want to tell me? Contact me using the form below.</p>
    <hr class="my-4">
    <div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
        <form method="POST" class="lead">
            <label>Name <i class="fa fa-asterisk"></i></label> {{ form.userName (required=True, class="form-control", placeholder="Foo Bar")}}
            <br>
            <label>Email <i class="fa fa-asterisk"></i></label> {{ form.userEmail (required=True, class="form-control", placeholder="foo@bar.com")}}
            <br>
            <label>Subject <i class="fa fa-asterisk"></i></label> {{ form.userSubject (required=True, class="form-control", placeholder="Briefly describe why you're contacting me.")}}
            <br>
            <label class="form-text">Message <i class="fa fa-asterisk"></i></label> {{ form.userMessage (required=True, class="form-control", rows='5', placeholder="Why are you having me waste my time reading this contact form?")}}
            <br> {{ form.submitForm (class="btn btn-raised btn-secondary")}} {{ form.csrf_token }}
        </form>
    </div>
</div>
{% endblock %}
