{% block title %}Home{% endblock %} {% extends 'base.html' %} {% block content %}
<div class="jumbotron" align="left">
    <h1 class="display-3">Welcome</h1>
    <p class="lead">This is my website. It has some small projects or tests on it along with small pages with information about something else I'm working on. If you have any questions, contact me with the button below.</p>
    <hr class="my-4">
    <p>You can navigate the site with the button at the top of the page or contact me with the button below.</p>
    <p class="lead">
        <a class="btn btn-raised btn-primary btn-lg" href="/contact" role="button">Contact</a>
    </p>
</div>
{% endblock %}
