{% block title %}iOS{% endblock %} {% extends 'base.html' %} {% block content %}

<script>
    if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1) || (navigator.userAgent.indexOf('iPad') != -1)) {
        document.location;
    } else {
        document.location = "/ios/error";
    }

</script>
<div>
    <h1 class="display-4">Hello.</h1>
    <h1 class="lead">Pick any hacked app or emulator.</h1>
    <hr>
    <h4>Disclaimer</h4>
    <p>Credit to the original app creators for providing the applications as well as the application icons.</p>
    <p>I am no way promote piracy, nor am I responsible for you pirating anything inside these applications.</p>
    <p>By using this website, you agree that I am in no way responsible for anything that happens while using these applications.</p>
    <hr>
    <div class="col-sm-6 col-md-4" style="float:none; margin:0 auto;o">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">AirShou</h4>
                <p class="card-text">Record your iOS device on iOS 10 and below.</p>
                <a href="itms-services://?action=download-manifest&url=https://storage.googleapis.com/uploads-shou-tv/d/AirShou.plist" class="btn btn-raised btn-primary">Download</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">App: Shou Ltd.</small>
                <br>
                <small class="text-muted">Download: iEmulators</small>
            </div>
        </div>
        <br>
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Game Play Color</h4>
                <p class="card-text">Play GBC games on your iOS device by installing a website shortcut.</p>
                <a href="https://gameplaycolor.com/app/" class="btn btn-raised btn-primary">Download</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">App: InSeven Limited</small>
                <br>
                <small class="text-muted">Download: InSeven Limited</small>
            </div>
        </div>
        <br>
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">GBA4iOS</h4>
                <p class="card-text">Play GBA and GBC games on your iOS device.</p>
                <a href="itms-services://?action=download-manifest&url=https://start3rs.box.com/shared/static/7x0eocd2o7u9qm38jxa3rjsphliuqli5.plist" class="btn btn-raised btn-primary">Download</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">App: Riley Testut</small>
                <br>
                <small class="text-muted">Download: iEmulators</small>
            </div>
        </div>
        <br>
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">More Coming Soon!</h4>
                <p class="card-text">More apps are on their way so be sure to check back often!</p>
                <a class="btn btn-raised btn-primary disabled">Download</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
