{% block title %}iOS Only{% endblock %} {% extends 'base.html' %} {% block content %}

<div class="jumbotron">
    <h1 class="display-3">Uh, oh!</h1>
    <p class="lead">Looks like you need to be on an iOS device (iPhone, iPad, iPod touch) to view this web page.</p>
    <hr class="my-4">
    <p>Scan the QR Code below on an iOS device to visit iOS Emulators.</p>
    <img src="/static/iOS_QR_Code.png">
</div>

{% endblock %}
