{% block title %}Minecraft{% endblock %} {% extends 'base.html' %} {% block content %}
<div class="jumbotron">
    <h1 class="display-4">Minecraft</h1>
    <p class="lead">I'm a small part of the Minecraft community and make Spigot/Bukkit plugins, run my own Minecraft server, make maps, some skins, and am working on a couple mods. This page is simply links and information to all of those things.</p>
</div>
<h1 class="display-4">Plugin Development</h1>
<p class="lead">I've been developing Bukkit plugins for a little while now and released a few as well. A few of those plugins are listed below as well as my SpigotMC link with all of my released plugins.</p>
<div class="card" style="width: 20rem; float:left;">
    <div class="card-body">
        <h4 class="card-title">ChatEvents</h4>
        <p class="card-text">ChatEvents allows you to show emotions in the chat by using simple commands.</p>
        <a href="https://www.spigotmc.org/resources/chatevents-emotions-actions-trends-1-7-1-12.45945/" class="btn btn-raised btn-primary">SpigotMC</a>
    </div>
    <div class="card-footer">
        <small class="text-muted">Released: Aug 18, 2017</small>
    </div>
</div>
<div class="card" style="width: 20rem; float:left; margin-left: 10px; margin-right: 10px;">
    <div class="card-body">
        <h4 class="card-title">BeaconChat</h4>
        <p class="card-text">BeaconChat is a simple chat management plugin with advanced chat filtering.</p>
        <a href="https://www.spigotmc.org/resources/beaconchat-toggle-chat-filter-chat-1-7-1-12-1.46132/" class="btn btn-raised btn-primary">SpigotMC</a>
    </div>
    <div class="card-footer">
        <small class="text-muted">Released: Aug 22, 2017</small>
    </div>
</div>
<div class="card" style="width: 20rem;">
    <div class="card-body">
        <h4 class="card-title">DoubleCommand</h4>
        <p class="card-text">DoubleCommand allows you to split one message into two using a seperator.</p>
        <a href="https://www.spigotmc.org/resources/doublecommand-easier-and-more-efficient-chat-1-7-1-12-1.46561/" class="btn btn-raised btn-primary">SpigotMC</a>
    </div>
    <div class="card-footer">
        <small class="text-muted">Released: Aug 30, 2017</small>
    </div>
</div>
<br>
<p class="lead">The button below leads to all my released Bukkit plugins as well as my SpigotMC profile.</p>
<a href="https://www.spigotmc.org/resources/authors/thelukeguy.425864/" class="btn btn-raised btn-secondary">All Plugins</a>
<hr>
<h1 class="display-4">Minecraft Server</h1>
<p class="lead">I run my own Minecraft server, as well. It's a creative plots server that's partially custom coded. Information and address are listed below.</p>
<br>
<div class="card" style="width: 20rem;">
    <div class="card-body">
        <h4>Address:</h4>
        <p class="lead">play.cloudcreative.me</p>
        <h4>Version:</h4>
        <p class="lead">1.12.2</p>
    </div>
    <div class="card-footer">
        <small class="text-muted">Updated: Oct 14, 2017</small>
    </div>
</div>
{% endblock %}
