{% extends "base.html" %} {% block content %}
<div class="jumbotron">
    <h1 class="display-4">Page not Found</h1>
    <p class="lead">The page you were looking for doesn't exist! Look in the navbar for links to other pages and to search for a project or community. If you were linked here, report it to the sender of the link as a broken link.</p>
    <img src="{{ url_for('static', filename='404.png') }}">
</div>
{% endblock %}
