{% extends 'base.html' %} {% block content %}
<h1 class="display-4">About</h1>
<p>Carbon is a programming language that uses blocks designed for a wide variety of languages. Keep reading for information on how different types of people can use Carbon.</p>
<h3>Developers</h3>
<p>Developers are the most obvious group of people as Carbon was made specifically for them. Developers can use Carbon for overall programming concept practice or just to make and share projects for fun. Carbon is also good for developers just learning how to program as it shows basic programming concepts.</p>
<h3>Students</h3>
<p>Educators can create individual accounts on Carbon for each student. Students can be introduced to programming or practice programming concepts using Carbon. Teacher and student accounts are coming soon to a private beta.</p>
<h3>Creators</h3>
<p>Content creators can use Carbon to create more content more easily. A new sound and UI package is coming soon to Carbon and animation and scene packages later to allow these creators to easily create new content while learning more about programming and logic.</p>
{% endblock %}
