<!DOCTYPE html>
<html>

<head>

    <title>Carbon</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicons/manifest.json') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicons/safari-pinned-tab.svg') }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicons/favicon.ico') }}">
    <meta name="msapplication-config" content="{{ url_for('static', filename='favicons/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

    <script src="https://use.fontawesome.com/2d91760c56.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.js"></script>

    <script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>

    <script src="{{ url_for('static', filename='blockly/blockly_compressed.js') }}"></script>
    <script src="{{ url_for('static', filename='blockly/blocks_compressed.js') }}"></script>
    <script src="{{ url_for('static', filename='blockly/msg/js/en.js') }}"></script>
    <script src="{{ url_for('static', filename='blockly/javascript_compressed.js') }}"></script>
    <script src="{{ url_for('static', filename='js-interpreter/acorn_interpreter.js') }}"></script>
    <script src="{{ url_for('static', filename='blockly/demos/interpreter/wait_block.js') }}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Carbon</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/editor">Editor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="alert('Sharing projects, profiles, and communites is coming soon!')">Explore</a>
                    </li>
                </ul>

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" onclick="alert('Sharing projects, profiles, and communites is coming soon!')" type="submit">Search</button>
                        </form>
                    </li>
                </ul>

                <ul class="navbar-nav navbar-right">
                    <li class="nav-item dropdown">
                        {% if current_user.is_authenticated %}
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle-o"></i> {{ current_user.id }}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out"></i> Sign Out</a>
                        </div>
                        {% else %}
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle-o"></i> Guest</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/login"><i class="fa fa-sign-in"></i> Sign In</a>
                            <a class="dropdown-item" href="/signup"><i class="fa fa-plus-square"></i> Join Carbon</a>
                        </div>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button> {{ message|safe }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <br> {% endif %} {% endwith %}

    <div class="container">
        <div>
            {% block content %}{% endblock %}
        </div>
    </div>

    <div class="container-fluid">
        <div>
            {% block editor %}{% endblock %}
        </div>
    </div>

    <br>

    <footer class="footer">
        <div align="center" style="background-color: #f2f2f2;">
            <br>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <dl>
                            <dt>About</dt>
                            <dd><a href="/about">About</a></dd>
                            <dd><a href="/rules">Rules</a></dd>
                            <dd><a href="/credits">Credits</a></dd>
                        </dl>
                    </div>
                    <div class="col">
                        <dl>
                            <dt>Support</dt>
                            <dd><a href="/contact">Contact Us</a></dd>
                        </dl>
                    </div>
                    <div class="col">
                        <dl>
                            <dt>Legal</dt>
                            <dd><a href="/terms">Terms of Use</a></dd>
                            <dd><a href="/privacy">Privacy Policy</a></dd>
                            <dd><a href="/copyright">DMCA</a></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <small>&copy; <span id="copyrightYear"></span> Luke Chambers</small>
            <br><br>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='app.js') }}"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>

</html>
