{% extends 'base.html' %}{% block content %}
<h1 class="display-4">Contact</h1>
<p>Have something you want to say? Here's the place to contact us!</p>
<form method="POST" style="width: 50%;">
    <label>Name</label> {{ form.contact_name (required=True, class="form-control", placeholder="Full Name")}}
    <br>
    <label>Email</label> {{ form.contact_email (required=True, class="form-control", placeholder="Email")}}
    <br>
    <label>Subject</label> {{ form.contact_subject (required=True, class="form-control", placeholder="Briefly describe why you're contacting us")}}
    <br>
    <label>Message</label> {{ form.contact_message (required=True, class="form-control", rows="5", placeholder="Why are you having me waste our time reading this contact form?")}}
    <br>
    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
