{% extends 'base.html' %}{% block content %}
<h1 class="display-4">Copyright</h1>
<p>If you believe a Carbon user has stolen copyrighted content or text from you or their content violates the Digital Millennium Copyright Act ("DMCA") please contact us reporting this. Provide as much information as possible. If you believe that this website ("Carbon") has violated the DMCA, please contact us as well. Taking legal action on us should only be done if we refuse to remove the copyrighted content. In either cases, provide as much as you can, including proof this violates the DMCA, who the project is by, links, images, and whatever else you believe is required. We will take action and remove this copyrighted material in the case of a report. We may deny your request if we believe you do not have enough proof, that you are lying, or other reasons that we will describe in detail to you.</p>
{% endblock %}
