{% extends 'base.html' %}{% block content %}
<h1 class="display-4">Credits</h1>
<p>Carbon was not just built from scratch. Carbon is built on top of many libraries and projects built by wonderful developers.</p>

<hr>

<h3>Flask</h3>
<p>Flask is a Python microframework that the whole website runs on. Carbon also uses Flask extensions such as <a href="https://flask-login.readthedocs.io">flask-login</a>.</p>
<button class="btn btn-primary" href="http://flask.pocoo.org">Visit</button>

<hr>

<h3>Bootstrap</h3>
<p>Bootstrap is an HTML, CSS and JavaScript front-end library built by a few developers and designers of Twitter. It handles the design of the website and styles the buttons, forms, inputs, dropdowns, the navbar, and so much more.</p>
<button class="btn btn-secondary" href="https://getbootstrap.com">Visit</button>

<hr>

<h3>Blockly</h3>
<p>Blockly is a JavaScript block library built by Google. Blockly runs the blocks in the editor and uses the <a href="https://github.com/NeilFraser/JS-Interpreter">Acorn Interpreter</a> to translate the blocks to JavaScript.</p>
<button class="btn btn-primary" href="https://developers.google.com/blockly/">Visit</button>

<hr>

<h3>Font Awesome</h3>
<p>Font Awesome provides the icons used throughout the Carbon project. All small icons that help describe buttons or text are probably designed by Font Awesome.</p>
<button class="btn btn-secondary" href="http://fontawesome.io">Visit</button> {% endblock %}
