{% extends 'base.html' %} {% block editor %}
<div class="container">
    <div class="jumbotron">
        <div class="row" align="center">
            <div class="col">
                <h5>Execute</h5>
                <button class="btn btn-success" onclick="runCode()" id="runButton"><i class="fa fa-play"></i> Run</button>
                <button class="btn btn-danger" onclick="stopCode()" id="stopButton" disabled="disabled"><i class="fa fa-stop"></i> Stop</button>
            </div>

            <div class="col">
                <h5>Cloud Saving <button class="btn btn-light" onclick="alert('Cloud Saving is still under development.')"><i class="fa fa-warning"></i></button></h5>
                <button class="btn btn-primary" disabled="disabled"><i class="fa fa-save"></i> Save</button>
                <button class="btn btn-secondary" disabled="disabled"><i class="fa fa-share"></i> Share</button>
                <button class="btn btn-primary" disabled="disabled"><i class="fa fa-folder-open"></i> Open</button> </div>

            <div class="col">
                <h5>Local Saving</h5>
                <button class="btn btn-primary align-top" onclick="downloadCode()"><i class="fa fa-download"></i> Download</button>
                <label class="btn btn-secondary">
                    <i class="fa fa-file-text"></i> Upload <input type="file" id="fileInput" onchange="uploadCode(event)" hidden>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <h3>Editor</h3>
        <div id="blocklyDiv" style="height: 720px;"></div>
    </div>

    <div class="col">
        <h3>Output</h3>
        <textarea class="form-control" id="output" disabled="disabled" style="height: 720px; resize: none; background-color: white; color: black;"></textarea>
    </div>
</div>

<xml id="toolbox" style="display: none">
    <category id="catLogic" colour="210" name="Logic">
        <block type="controls_if"></block>
        <block type="logic_compare"></block>
        <block type="logic_operation"></block>
        <block type="logic_negate"></block>
        <block type="logic_boolean"></block>
        <block type="logic_null"></block>
        <block type="logic_ternary"></block>
    </category>
    <category id="catLoops" colour="120" name="Loops">
        <block type="controls_repeat_ext">
            <value name="TIMES">
                <shadow type="math_number">
                    <field name="NUM">10</field>
                </shadow>
            </value>
        </block>
        <block type="controls_whileUntil"></block>
        <block type="controls_for">
            <value name="FROM">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
            <value name="TO">
                <shadow type="math_number">
                    <field name="NUM">10</field>
                </shadow>
            </value>
            <value name="BY">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
        </block>
        <block type="controls_forEach"></block>
        <block type="controls_flow_statements"></block>
        <block type="wait_seconds"></block>
    </category>
    <category id="catMath" colour="230" name="Math">
        <block type="math_number"></block>
        <block type="math_arithmetic">
            <value name="A">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
            <value name="B">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
        </block>
        <block type="math_single">
            <value name="NUM">
                <shadow type="math_number">
                    <field name="NUM">9</field>
                </shadow>
            </value>
        </block>
        <block type="math_trig">
            <value name="NUM">
                <shadow type="math_number">
                    <field name="NUM">45</field>
                </shadow>
            </value>
        </block>
        <block type="math_constant"></block>
        <block type="math_number_property">
            <value name="NUMBER_TO_CHECK">
                <shadow type="math_number">
                    <field name="NUM">0</field>
                </shadow>
            </value>
        </block>
        <block type="math_change">
            <value name="DELTA">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
        </block>
        <block type="math_round">
            <value name="NUM">
                <shadow type="math_number">
                    <field name="NUM">3.1</field>
                </shadow>
            </value>
        </block>
        <block type="math_on_list"></block>
        <block type="math_modulo">
            <value name="DIVIDEND">
                <shadow type="math_number">
                    <field name="NUM">64</field>
                </shadow>
            </value>
            <value name="DIVISOR">
                <shadow type="math_number">
                    <field name="NUM">10</field>
                </shadow>
            </value>
        </block>
        <block type="math_constrain">
            <value name="VALUE">
                <shadow type="math_number">
                    <field name="NUM">50</field>
                </shadow>
            </value>
            <value name="LOW">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
            <value name="HIGH">
                <shadow type="math_number">
                    <field name="NUM">100</field>
                </shadow>
            </value>
        </block>
        <block type="math_random_int">
            <value name="FROM">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
            <value name="TO">
                <shadow type="math_number">
                    <field name="NUM">100</field>
                </shadow>
            </value>
        </block>
        <block type="math_random_float"></block>
    </category>
    <category id="catText" colour="160" name="Text">
        <block type="text"></block>
        <block type="text_join"></block>
        <block type="text_append">
            <value name="TEXT">
                <shadow type="text"></shadow>
            </value>
        </block>
        <block type="text_length">
            <value name="VALUE">
                <shadow type="text">
                    <field name="TEXT">abc</field>
                </shadow>
            </value>
        </block>
        <block type="text_isEmpty">
            <value name="VALUE">
                <shadow type="text">
                    <field name="TEXT"></field>
                </shadow>
            </value>
        </block>
        <block type="text_indexOf">
            <value name="VALUE">
                <block type="variables_get">
                    <field name="VAR">text</field>
                </block>
            </value>
            <value name="FIND">
                <shadow type="text">
                    <field name="TEXT">abc</field>
                </shadow>
            </value>
        </block>
        <block type="text_charAt">
            <value name="VALUE">
                <block type="variables_get">
                    <field name="VAR">text</field>
                </block>
            </value>
        </block>
        <block type="text_getSubstring">
            <value name="STRING">
                <block type="variables_get">
                    <field name="VAR">text</field>
                </block>
            </value>
        </block>
        <block type="text_changeCase">
            <value name="TEXT">
                <shadow type="text">
                    <field name="TEXT">abc</field>
                </shadow>
            </value>
        </block>
        <block type="text_trim">
            <value name="TEXT">
                <shadow type="text">
                    <field name="TEXT">abc</field>
                </shadow>
            </value>
        </block>
        <block type="text_print">
            <value name="TEXT">
                <shadow type="text">
                    <field name="TEXT">abc</field>
                </shadow>
            </value>
        </block>
        <block type="text_prompt_ext">
            <value name="TEXT">
                <shadow type="text">
                    <field name="TEXT">abc</field>
                </shadow>
            </value>
        </block>
    </category>
    <category id="catLists" colour="260" name="Lists">
        <block type="lists_create_with">
            <mutation items="0"></mutation>
        </block>
        <block type="lists_create_with"></block>
        <block type="lists_repeat">
            <value name="NUM">
                <shadow type="math_number">
                    <field name="NUM">5</field>
                </shadow>
            </value>
        </block>
        <block type="lists_length"></block>
        <block type="lists_isEmpty"></block>
        <block type="lists_indexOf">
            <value name="VALUE">
                <block type="variables_get">
                    <field name="VAR">list</field>
                </block>
            </value>
        </block>
        <block type="lists_getIndex">
            <value name="VALUE">
                <block type="variables_get">
                    <field name="VAR">list</field>
                </block>
            </value>
        </block>
        <block type="lists_setIndex">
            <value name="LIST">
                <block type="variables_get">
                    <field name="VAR">list</field>
                </block>
            </value>
        </block>
        <block type="lists_getSublist">
            <value name="LIST">
                <block type="variables_get">
                    <field name="VAR">list</field>
                </block>
            </value>
        </block>
        <block type="lists_split">
            <value name="DELIM">
                <shadow type="text">
                    <field name="TEXT">,</field>
                </shadow>
            </value>
        </block>
        <block type="lists_sort"></block>
    </category>
    <category id="catColour" colour="20" name="Color">
        <block type="colour_picker"></block>
        <block type="colour_random"></block>
        <block type="colour_rgb">
            <value name="RED">
                <shadow type="math_number">
                    <field name="NUM">100</field>
                </shadow>
            </value>
            <value name="GREEN">
                <shadow type="math_number">
                    <field name="NUM">50</field>
                </shadow>
            </value>
            <value name="BLUE">
                <shadow type="math_number">
                    <field name="NUM">0</field>
                </shadow>
            </value>
        </block>
        <block type="colour_blend">
            <value name="COLOUR1">
                <shadow type="colour_picker">
                    <field name="COLOUR">#ff0000</field>
                </shadow>
            </value>
            <value name="COLOUR2">
                <shadow type="colour_picker">
                    <field name="COLOUR">#3333ff</field>
                </shadow>
            </value>
            <value name="RATIO">
                <shadow type="math_number">
                    <field name="NUM">0.5</field>
                </shadow>
            </value>
        </block>
    </category>
    <sep></sep>
    <category id="catVariables" colour="330" custom="VARIABLE" name="Variables"></category>
    <category id="catFunctions" colour="290" custom="PROCEDURE" name="Functions"></category>
</xml>
<xml id="blocklyDefault" style="display: none">
    <block type="variables_set">
        <field name="VAR">Count</field>
        <value name="VALUE">
            <block type="math_number">
                <field name="NUM">1</field>
            </block>
        </value>
        <next>
            <block type="controls_whileUntil" x="16" y="16">
                <field name="MODE">WHILE</field>
                <value name="BOOL">
                    <block type="logic_compare">
                        <field name="OP">LTE</field>
                        <value name="A">
                            <block type="variables_get">
                                <field name="VAR">Count</field>
                            </block>
                        </value>
                        <value name="B">
                            <block type="math_number">
                                <field name="NUM">3</field>
                            </block>
                        </value>
                    </block>
                </value>
                <statement name="DO">
                    <block type="text_print">
                        <value name="TEXT">
                            <block type="text">
                                <field name="TEXT">Hello World!</field>
                            </block>
                        </value>
                        <next>
                            <block type="variables_set">
                                <field name="VAR">Count</field>
                                <value name="VALUE">
                                    <block type="math_arithmetic">
                                        <field name="OP">ADD</field>
                                        <value name="A">
                                            <block type="variables_get">
                                                <field name="VAR">Count</field>
                                            </block>
                                        </value>
                                        <value name="B">
                                            <block type="math_number">
                                                <field name="NUM">1</field>
                                            </block>
                                        </value>
                                    </block>
                                </value>
                            </block>
                        </next>
                    </block>
                </statement>
            </block>
        </next>
    </block>
</xml>

<script>
    var workspace = Blockly.inject("blocklyDiv", {
        toolbox: document.getElementById("toolbox"),
        zoom: {
            controls: true,
            wheel: false,
            startScale: 1.0,
            maxScale: 3,
            minScale: 0.3,
            scaleSpeed: 1.2
        },
        trashcan: true,
        media: "{{ url_for('static', filename='blockly/media/') }}"
    });

    Blockly.JavaScript.addReservedWords("exit");

    var outputArea = document.getElementById("output");
    var runButton = document.getElementById("runButton");
    var stopButton = document.getElementById("stopButton");
    var codeInterpreter = null;
    var runner;

    function initApi(interpreter, scope) {
        // Add an API function for the alert() block, generated for "text_print" blocks.
        var wrapper = function(text) {
            text = text ? text.toString() : "";
            outputArea.value = outputArea.value + "\n" + text;
        };
        interpreter.setProperty(scope, "alert",
            interpreter.createNativeFunction(wrapper));

        // Add an API function for the prompt() block.
        var wrapper = function(text) {
            text = text ? text.toString() : "";
            return interpreter.createPrimitive(prompt(text));
        };
        interpreter.setProperty(scope, "prompt",
            interpreter.createNativeFunction(wrapper));

        // Add an API for the wait block.  See wait_block.js
        initInterpreterWaitForSeconds(interpreter, scope);

        // Add an API function for highlighting blocks.
        var wrapper = function(id) {
            id = id ? id.toString() : "";
            return interpreter.createPrimitive(highlightBlock(id));
        };
        interpreter.setProperty(scope, "highlightBlock",
            interpreter.createNativeFunction(wrapper));
    }

    var highlightPause = false;
    var latestCode = "";

    function highlightBlock(id) {
        workspace.highlightBlock(id);
        highlightPause = true;
    }

    function resetStepUi(clearOutput) {
        workspace.highlightBlock(null);
        highlightPause = false;
        runButton.disabled = "";
        stopButton.disabled = "disabled";

        if (clearOutput) {
            outputArea.value = "== Carbon Interpreter ==\n";
        }
    }

    function generateCodeAndLoadIntoInterpreter() {
        // Generate JavaScript code and parse it.
        Blockly.JavaScript.STATEMENT_PREFIX = "highlightBlock(%1);\n";
        Blockly.JavaScript.addReservedWords("highlightBlock");
        latestCode = Blockly.JavaScript.workspaceToCode(workspace);

        resetStepUi(true);
    }

    function resetInterpreter() {
        codeInterpreter = null;
        if (runner) {
            clearTimeout(runner);
            runner = null;
        }
    }

    function runCode() {
        if (!codeInterpreter) {
            // First statement of this code.
            // Clear the program output.
            resetStepUi(true);
            runButton.disabled = "disabled";
            stopButton.disabled = "";

            // And then show generated code in an alert.
            // In a timeout to allow the outputArea.value to reset first.
            setTimeout(function() {
                // Begin execution
                highlightPause = false;
                codeInterpreter = new Interpreter(latestCode, initApi);
                runner = function() {
                    if (codeInterpreter) {
                        var hasMore = codeInterpreter.run();
                        if (hasMore) {
                            // Execution is currently blocked by some async call.
                            // Try again later.
                            setTimeout(runner, 10);
                        } else {
                            // Program is complete.
                            outputArea.value += "\n\n== End of Project ==";
                            resetInterpreter();
                            resetStepUi(false);
                        }
                    }
                };
                runner();
            }, 1);
            return;
        }
    }

    function stopCode() {
        outputArea.value += "\n\n== Stopped by User ==";
        resetInterpreter();
        resetStepUi(false);
    }

    function downloadCode() {
        var xmlDom = Blockly.Xml.workspaceToDom(workspace);
        var xmlText = Blockly.Xml.domToPrettyText(xmlDom);

        var filename = prompt("Filename for project:") + ".xml";
        var file = new Blob([xmlText], {
            type: "text/plain"
        });
        if (window.navigator.msSaveOrOpenBlob) // IE10+
            window.navigator.msSaveOrOpenBlob(file, filename);
        else { // Others
            var a = document.createElement("a"),
                url = URL.createObjectURL(file);
            a.href = url;
            a.download = filename;
            document.body.appendChild(a);
            a.click();
            setTimeout(function() {
                document.body.removeChild(a);
                window.URL.revokeObjectURL(url);
            }, 0);
        }
    }

    var uploadCode = function(event) {
        var input = event.target;
        var reader = new FileReader();
        reader.onload = function() {
            var text = reader.result;
            try {
                var dom = Blockly.Xml.textToDom(text);
                workspace.clear();
                Blockly.Xml.domToWorkspace(workspace, dom);
                return true;
            } catch (e) {
                alert("Invalid file");
                return false;
            }
        };
        reader.readAsText(input.files[0]);
    };

    // Load the interpreter now, and upon future changes.
    generateCodeAndLoadIntoInterpreter();
    workspace.addChangeListener(function(event) {
        if (!(event instanceof Blockly.Events.Ui)) {
            // Something changed. Parser needs to be reloaded.
            resetInterpreter();
            generateCodeAndLoadIntoInterpreter();
        }
    });

</script>
{% endblock %}
