{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col">
        <div class="jumbotron" style="width: 125%;">
            {% if current_user.is_authenticated %}
            <h1 class="display-4">{{ current_user.id }}'s Feed</h1>
            <ul>
                <li>{{ current_user.id }}, you have nothing in your feed yet! Try following people and communities!</li>
            </ul>
            {% else %}
            <h1 class="display-4">Carbon</h1>
            <ul>
                <li>Carbon is a simple programming language for a wide variety of ages.</li>
                <li>Create games or programs easily using the Carbon editor.</li>
                <li>Share your projects with the world, receive feedback, and collaborate with others to make your project better.</li>
                <li>Create communities with different ranks for people and contribute to and create projects together.</li>
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="col" align="right">
        <div class="jumbotron" style="width: 75%;" align="left">
            <h1 class="display-4">News</h1>
            <ul>
                <li>Carbon has been released to the public for beta testing!</li>
            </ul>
        </div>
    </div>
</div>
<hr>
<h2>Featured</h2>
<div class="jumbotron">
    <div class="row" align="center">
        <div class="col">
            <div class="card" style="width: 15rem;" align="left">
                <div class="card-body">
                    <h4 class="card-title">Coming Soon</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Luke</h6>
                    <p class="card-text">Sharing projects, profiles, and communites is coming soon!</p>
                    <a class="card-link" onclick="alert('Sharing projects, profiles, and communites is coming soon!')" href="#">Visit</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;" align="left">
                <div class="card-body">
                    <h4 class="card-title">Coming Soon</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Luke</h6>
                    <p class="card-text">Sharing projects, profiles, and communites is coming soon!</p>
                    <a class="card-link" onclick="alert('Sharing projects, profiles, and communites is coming soon!')" href="#">Visit</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;" align="left">
                <div class="card-body">
                    <h4 class="card-title">Coming Soon</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Luke</h6>
                    <p class="card-text">Sharing projects, profiles, and communites is coming soon!</p>
                    <a class="card-link" onclick="alert('Sharing projects, profiles, and communites is coming soon!')" href="#">Visit</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;" align="left">
                <div class="card-body">
                    <h4 class="card-title">Coming Soon</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Luke</h6>
                    <p class="card-text">Sharing projects, profiles, and communites is coming soon!</p>
                    <a class="card-link" onclick="alert('Sharing projects, profiles, and communites is coming soon!')" href="#">Visit</a>
                </div>
            </div>
        </div>
    </div>
</div>

<h2>New</h2>
<div class="jumbotron">
    <div class="row" align="center">
        <div class="col">
            <div class="card" style="width: 15rem;" align="left">
                <div class="card-body">
                    <h4 class="card-title">Coming Soon</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Luke</h6>
                    <p class="card-text">Sharing projects, profiles, and communites is coming soon!</p>
                    <a class="card-link" onclick="alert('Sharing projects, profiles, and communites is coming soon!')" href="#">Visit</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;" align="left">
                <div class="card-body">
                    <h4 class="card-title">Coming Soon</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Luke</h6>
                    <p class="card-text">Sharing projects, profiles, and communites is coming soon!</p>
                    <a class="card-link" onclick="alert('Sharing projects, profiles, and communites is coming soon!')" href="#">Visit</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;" align="left">
                <div class="card-body">
                    <h4 class="card-title">Coming Soon</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Luke</h6>
                    <p class="card-text">Sharing projects, profiles, and communites is coming soon!</p>
                    <a class="card-link" onclick="alert('Sharing projects, profiles, and communites is coming soon!')" href="#">Visit</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 15rem;" align="left">
                <div class="card-body">
                    <h4 class="card-title">Coming Soon</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Luke</h6>
                    <p class="card-text">Sharing projects, profiles, and communites is coming soon!</p>
                    <a class="card-link" onclick="alert('Sharing projects, profiles, and communites is coming soon!')" href="#">Visit</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
