{% extends 'base.html' %}{% block content %}
<h1 class="display-4">Privacy Policy</h1>
<p>This website ("Carbon") may collect or share information of yours. This is subject to change at any time without notice.</p>
<ul>
    <li>Carbon collects usernames, emails, and passwords during account creation. This shouldn't matter unless you use a certain password for multiple services.</li>
    <li>Carbon will never share your email or password with anyone unless required by law.</li>
    <li>Analytics containing IP addresses and recordings may be kept at any time.</li>
    <li>No analytic data will be shared unless required by law.</li>
    <li>In the rare case of a data breach, we will try our best to protect your data. All users will be notified by email and the homepage of the website if this happens.</li>
</ul>
{% endblock %}
