{% extends 'base.html' %}{% block content %}
<h1 class="display-4">Rules</h1>
<p>Carbon has a basic set of rules. Breaking these rules can lead to an account ban or even an IP ban.</p>
<ol>
    <li><b>Be respectful.</b> Don't disrespect others or staff members. Keep in mind that Carbon is for all ages and mature content is not allowed on Carbon. Judging by race, sex, religion, etc. is disallowed.</li>
    <li><b>Be constructive.</b> Don't simply comment "bad" on others' projects. Let them know why and what they can make better. Harsh reviews are allowed as long as it's constructive and informative.</li>
    <li><b>Be honest.</b> Don't lie to others, pretend to be others, or try to harm another user by scamming. This includes phishing and similar tricks.</li>
    <li><b>Don't share personal information.</b> Keep your email, full name, address, phone number, password, etc. private on Carbon. Carbon or staff members will <i>never</i> ask for your password.</li>
</ol>
{% endblock %}
