{% extends 'base.html' %} {% block content %}
<h1>Sign Up</h1>

<form action="signup" style="width: 25%;" method="POST">
    <label>Username</label>
    <small>(4-25 characters)</small> {{ form.username (required=True, class="form-control", placeholder="Username") }}
    <br>
    <label>Email</label> {{ form.email (required=True, class="form-control", placeholder="Email") }}
    <br>
    <label>Password</label>
    <small>(At least 6 characters)</small>{{ form.password (required=True, class="form-control", placeholder="Password") }}
    <br>
    <label>Confirm Password</label> {{ form.confirm (required=True, class="form-control", placeholder="Confirm Password") }}
    <br>
    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
