{% extends 'base.html' %}{% block content %}
<h1 class="display-4">Terms of Use</h1>
<p>You, the user, agree to these terms by using this website ("Carbon"). These terms are subject to change at any time without notice.</p>
<ul>
    <li>Carbon may at any time collect analytics to help improve it.</li>
    <li>Carbon or Carbon members are not responsible for anything as a result of using Carbon.</li>
    <li>Staff members can ban you at any time for breaking the rules.</li>
</ul>
{% endblock %}
