<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Luke Chambers</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/jumbotron.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="http://i.imgur.com/1Ya2yAe.png" rel="icon" type="image/x-icon" />
  </head>
  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
       <div class="container">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;Luke Chambers</a>
         </div>
         <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a target="_blank" href="http://blog.lukepchambers.net/">Blog</a>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle navbar-link" data-toggle="dropdown">
            Navigation&nbsp;<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('social') }}">
                    <i class="glyphicon glyphicon-share"></i> Social</a>
                </li>
            </ul>
        </li>
         </div><!--/.navbar-collapse -->
       </div>
     </nav>

     <!-- Main jumbotron for a primary marketing message or call to action -->
     <div class="jumbotron">
       <div class="container">
         <h2>Hi, My Name is Luke</h2>
         <p>Welcome! This is the personal web site of Luke Chambers.</p>
       </div>
     </div>

     <div class="container">
       <!-- Example row of columns -->
       <div class="row">
         <div class="col-md-6">
           <h2>About Me</h2>
           <p>I was born in 2005 in Massachusetts. When I was 4 years old, I watched my dad play games on his iPod touch. I always wanted to play small games such as Koi Pond on his iPod. I sometimes got my way, and sometimes didn't. At around the age of 6, he let me play on it whenever I wanted. I was interested in it until I was about 7, when I got my Nintendo 3DS XL. I gave the iPod back to my dad, and started playing games such as Mario Kart 7 and Super Mario 3D Land on my 3DS. When I was 8, I started writing simple HTML5 websites. When I was 9, I got my own iPod touch, leaving my 3DS unused. On December 25, 2014 (Christmas), I got my own iPad mini, that I use all the time now. I started learning Python and Flask in January, and learned how to use Bootstrap in February. When I grow up, I plan to attend college at MIT, and start a computer company. Someday, that dream may come true.</p>
         </div>
      </div>

       <hr>

       <footer>
         <p>&copy; 2015 Luke Chambers</p>
       </footer>
     </div> <!-- /container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
