<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Luke Chambers</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/jumbotron.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="http://i.imgur.com/1Ya2yAe.png" rel="icon" type="image/x-icon" />
    <!-- Place this tag in your head or just before your close body tag. -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <nav class="navbar navbar-inverse navbar-fixed-top">
       <div class="container">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;Luke Chambers</a>
         </div>
         <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a target="_blank" href="http://blog.lukepchambers.net/">Blog</a>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle navbar-link" data-toggle="dropdown">
            Navigation&nbsp;<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('social') }}">
                    <i class="glyphicon glyphicon-share"></i> Social</a>
                </li>
            </ul>
        </li>
         </div><!--/.navbar-collapse -->
       </div>
     </nav>

     <div class="container">
       <div class="row">
         <div class="col-md-4">
          <h2>Share on Twitter</h2>
          <p>To those who have Twitter, please share this website with your friends or viewers. It would really help me.</p>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://lukepchambers.net" data-text="Check out this awesome site! -->">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        <div class="col-md-4">
          <h2>Share on Facebook</h2>
          <p>If you have Facebook, it would really help me if you shared this website with your friends and those who view your Facebook page.</p>
          <div class="fb-share-button" data-href="https://lukepchambers.net" data-layout="button_count"></div>
        </div>
        <div class="col-md-4">
          <h2>Share on Linkedln</h2>
          <p>Got Linkedln? Please share this website on Linkedln. It would help me a whole lot.</p>
          <script type="text/javascript" src="http://platform.linkedin.com/in.js"></script><script type="in/share" data-url="http://lukepchambers.net" data-counter="right"></script>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2>Share on Tumblr</h2>
          <p>Please post about this website on Tumblr using the button below. It would really be helpful.</p>
          <a class="tumblr-share-button" data-color="blue" data-notes="right" href="https://embed.tumblr.com/share"></a>
          <script>!function(d,s,id){var js,ajs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://secure.assets.tumblr.com/share-button.js";ajs.parentNode.insertBefore(js,ajs);}}(document, "script", "tumblr-js");</script>
        </div>
        <div class="col-md-4">
          <h2>Share on Pinterest (Broken)</h2>
          <p>Please pin a picture of this website with a link to the website using the button below.</p>
          <a href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Flukepchambers.net&media=http%3A%2F%2Fi.imgur.com%2Fa5VuRim.png&description=Check%20out%20this%20awesome%20website!" data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="red"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" /></a>
          <!-- Please call pinit.js only once per page -->
          <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
        </div>
        <div class="col-md-4">
          <h2>Share on Google+</h2>
          <p>Share this with your friends, followers, and viewers on Google+ if you have an account.</p>
          <!-- Place this tag where you want the share button to render. -->
          <div class="g-plus" data-action="share" data-href="http://lukepchambers.net"></div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-4">
          <h2>Find on GitHub</h2>
          <p>Find and follow me on GitHub to show support for me! I would really enjoy that!</p>
          <a href="https://github.com/thelukeguy">Visit Me</a>
        </div>
        <div class="col-md-4">
          <h2>Find on Scratch</h2>
          <p>Find, follow me, try out my projects, and chat on Scratch! I post projects a lot and would love a follow.</p>
          <a href="https://scratch.mit.edu/users/thelukeguy">Visit Me</a>
        </div>
        <div class="col-md-4">
          <h2>Find on Planet Minecraft</h2>
          <p>Find me, and try my Minecraft stuff out on Planet Minecraft! Also, be sure to follow me!</p>
          <a href="http://www.planetminecraft.com/member/thelukeguy/">Visit Me</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2>Find on SoundCloud</h2>
          <p>Find, listen to my music, and follow me on SoundCloud! (Warning: Crazy songs!)</p>
          <a href="https://soundcloud.com/thelukeguy">Visit Me</a>
        </div>
        <div class="col-md-4">
          <h2>Find on Steam</h2>
          <p>Find, follow, chat, game, and hang out on Steam together!</p>
          <a href="https://steamcommunity.com/id/thelukeguy">Visit Me</a>
        </div>
        <div class="col-md-4">
          <h2>Find on Minecraft Forums</h2>
          <p>Follow me on the official Minecraft Forums!</p>
          <a href="http://www.minecraftforum.net/members/TheLukeGuy">Visit Me</a>
        </div>
      </div>

       <hr>

       <footer>
         <p>&copy; 2015 Luke Chambers</p>
       </footer>
     </div> <!-- /container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
