{% extends 'base.html' %}

{% block content %}

<h1 align="center">About Me <small>The story of my life</small></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<p align="center"><font size="5">I discovered my love for engineering </font><font size="4">when I was 4 years old, when I used to watch my dad play games on his iPod touch. I always wanted to play small games such as Koi Pond, Pocket God, or Labyrinth on his iPod. I sometimes got my way, and sometimes didn't. At around the age of 6, he let me play on it whenever I wanted. I used it a lot until I was about 7, when I got my Nintendo 3DS XL. I gave the iPod back to my dad, and started playing games such as Mario Kart 7 and Super Mario 3D Land on my 3DS. When I was 8, I started writing simple HTML5 websites. I started learning Python and Flask in January, and learned how to use Bootstrap in February. Now, I can code decent Python applications and websites in HTML. I'm starting to learn JavaScript, as well. When I grow up, I hope to attend college at MIT, as well as become an engineer or software developer.</font></p>
  </div>
</div>


{% endblock %}
