{% extends 'base.html' %}

{% block content %}

<div align="center">
  <img src="http://i.imgur.com/UJX0ySE.png">
</div>

<p class="lead" align="center">Connect with <i>mc.gqq.co:25566</i></p>

{% endblock %}
