{% extends 'base.html' %}

{% block content %}
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div align="center">
          <canvas id="myCanvas"></canvas>
          <script type="text/javascript" src="/static/js/bubbles.js"></script>
          <script type="text/javascript" src="/static/js/animated_lpc.js"></script>
        </div>
      </div>

    </div> <!-- /container -->

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Welcome <small>to my personal website. Here you can find small projects of mine that I do in my spare time. Enjoy!</small></h1>
    </div>
  </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


{% endblock %}
