{% extends 'base.html' %}

{% block content %}

    <script type="text/javascript">
	    if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1) || (navigator.userAgent.indexOf('iPad') != -1)) {
		    document.location = "#";
	    }
	    else {
		    document.location = "/ios/error";
	    }
    </script>
    <h2 align="center">Hello.</h2>
    <h1 align="center"><small>Pick any hacked app or emulator.</small></h1>
    <hr>
    <p align="center">Logo is Apple's original icon.</p>
    <p align="center">Credit to iEmulators and the Start3rs team for the download links.</p>
    <p align="center">Credit to the original app creators for providing the applications as well as the application icons.</p>
    <p align="center">I am no way promote piracy, nor am I responsible for you pirating anything inside these applications.</p>
    <p align="center">By using this website, you agree that I am in no way responsible for anything that happens while using these applications.</p>
    <hr>
    <div class="col-sm-6 col-md-4" align="center" style="float:none; margin:0 auto;o">
      <div class="row">
        <div class="thumbnail">
          <img src="http://i.imgur.com/h0ERTFC.png">
          <div class="caption">
            <h3>AirShou</h3>
            <p>Record your iOS 9 and 10 screen without a jailbreak using AirPlay!</p>
            <p><a href="itms-services://?action=download-manifest&url=https://start3rs.box.com/shared/static/viyl6vhsqdfqtwbte77nx5zq0vmbojhn.plist" class="btn btn-primary" role="button">Download!</a></p>
            <h3><small>By Shou Ltd.</small></h3>
          </div>
        </div>
        <div class="thumbnail">
          <img src="http://i.imgur.com/Z7Vyjj4.png">
          <div class="caption">
            <h3>GBA4iOS</h3>
            <p>Play your favorite GBA and GBC games on your iOS device.</p>
            <p><a href="itms-services://?action=download-manifest&url=https://start3rs.box.com/shared/static/rrz01s3c94uzajxtxjlw.plist" class="btn btn-primary" role="button">Download!</a></p>
            <h3><small>By Riley Testut</small></h3>
          </div>
        </div>
        <div class="thumbnail">
          <img src="http://i.imgur.com/NgzzlVp.png">
          <div class="caption">
            <h3>Game Play Color</h3>
            <p>Play GBC games on your iOS device by adding a shortcut to a website!</p>
            <p><a href="https://gameplaycolor.com/app/" class="btn btn-primary" role="button">Download!</a></p>
            <h3><small>By Jason Morley</small></h3>
          </div>
        </div>
        <div class="thumbnail">
          <img src="http://i.imgur.com/BnzEZ5l.png">
          <div class="caption">
            <h3>Happy Chick</h3>
            <p>Emulate many different systems with this all-in-one app.</p>
            <p><a href="itms-services://?action=download-manifest&url=https://start3rs.box.com/shared/static/inmsbsypobbfrb9oqcgjfhrkkgpxc0w5.plist[]" class="btn btn-primary" role="button">Download!</a></p>
            <h3><small>By Xiaoji001</small></h3>
          </div>
        </div>
        <div class="thumbnail">
          <img src="http://i.imgur.com/hSazSBp.png">
          <div class="caption">
            <h3>nds4ios</h3>
            <p>Nintendo DS games for iOS!</p>
            <p><a href="itms-services://?action=download-manifest&url=https://start3rs.box.com/shared/static/852l9dk8w8wemkeydkz6.plist" class="btn btn-primary" role="button">Download!</a></p>
            <h3><small>By InfiniDev</small></h3>
          </div>
        </div>
        <div class="thumbnail">
          <img src="http://i.imgur.com/kPDDg6L.png">
          <div class="caption">
            <h3>iNDS</h3>
            <p>Improved version of nds4ios.</p>
            <p><a href="itms-services://?action=download-manifest&url=https://start3rs.box.com/shared/static/3a14h7qbya1ezrrz64nc2mzj8ggpd6ib.plist" class="btn btn-primary" role="button">Download!</a></p>
            <h3><small>By William L. Cobb</small></h3>
          </div>
        </div>
        <div class="thumbnail">
          <img src="http://i.imgur.com/Qha9gE2.png">
          <div class="caption">
            <h3>Jailbreak (iOS 9.2-9.3.3)</h3>
            <p>Jailbreak your iOS device without the use of a computer!</p>
            <p><small>By accessing your system root files (jailbreaking), you are taking the risk of bricking your device and/or getting your warranty voided until you completely remove the jailbreak from the device. Use at your own risk.</small></p>
            <p><a href="itms-services://?action=download-manifest&url=https://start3rs.box.com/shared/static/krfhwa9zs0w3hx9b8g3yfp0g3xrhva0q.plist" class="btn btn-primary" role="button">Download!</a></p>
            <h3><small>By Pangu</small></h3>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
