{% extends 'base.html' %}

{% block content %}

<div class="col-sm-6 col-md-4" align="center" style="float:none; margin:0 auto;o">
  <h2 align="center">Uh, oh!</h2>
  <h1 align="center"><small>Looks like you need to be on an iOS device (iPhone, iPad, iPod touch) to view this web page.</small></h1>
  <img src="http://i.imgur.com/bbSCJGC.png">
  <h1 align="center"><small>Scan the QR Code above on an iOS device to visit iOS Emulators.</small></h1>
</div>


{% endblock %}
