{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="col-sm-9 col-md-7" align="center" style="float:none; margin:0 auto;o">
    <div class="jumbotron">
      <h1>oasis</h1>
      <p class="lead">An attempt to remake an operating system in Python</p>
    </div>
    <hr>
    <script>
      function mobileAlert() {
        swal("Note", "The mobile version uses an outdated version of oasis and may contain many bugs.", "warning")
      }
      function stableRelease() {
        swal("Note", "These releases aren't updated all the time, so this version may not be the latest release. Visit the GitHub page to make sure this version is the latest.", "warning")
      }
      function launcherRelease() {
      	swal("Installation", "It's super simple. Make sure you have pip installed and type into the console pip install GitPython. Then, type python and paste import requests as r; exec(r.get('http://bit.ly/get-oasis').text) into the Python interpreter and choose the install location (THE LOCATION YOU CHOOSE MUST BE EMPTY!)", "success")
      }
    </script>
    <p class="lead">Download</p>
    <a class="btn btn-default btn-lg" href="https://github.com/TheLukeGuy/oasis/releases/latest" role="button">Stable</a>
    <a class="btn btn-default btn-lg disabled" role="button">Development</a>
    <a class="btn btn-default btn-lg" onclick="mobileAlert()" href="https://github.com/TheLukeGuy/oasis/releases/download/3.1-dev3.1/Pythonista-build.zip" role="button">Mobile (Pythonista)</a>
    <hr>
    <p class="lead">Download Launcher</p>
    <a class="btn btn-default btn-lg" onclick="launcherRelease()" role="button">Stable</a>
  </div>
</div>


{% endblock %}
