{% extends 'base.html' %}

{% block content %}
<style>
a:link.header-link, a:visited.header-link { color: black; text-decoration: none; }
</style>
<div class="col-sm-9 col-md-7" align="center" style="float:none; margin:0 auto;o">
	<div class="alert alert-warning" role="alert"><b>Warning!</b> These projects are outdated and are no longer active.</div>
</div>
<h1 align="center">Scratch <small>My Scratch projects and information</small></h1>
<div align="center">
	<a class="btn btn-default" href="https://scratch.mit.edu/users/TheLukeGuy/">My Scratch Profile</a>
</div>

<div class="row" align="center">
  <div class="col-md-6 col-md-offset-3">
	<h3><a class="header-link" href="https://scratch.mit.edu/projects/101884054/">Chatroom</a></h3><p><font size="4">My chatroom using <a href="https://scratch.mit.edu/users/-Flames-/">-Flames-</a>'s cloud engine, and <a href="https://scratch.mit.edu/users/rtwodtwo/">rtwodtwo</a>'s chat filter.</font></p>

	<h3><a class="header-link" href="https://scratch.mit.edu/projects/102338012/">Skateboard Simulator</a></h3><p><font size="4">A skateboard simulator with multiple skateparks, drop-ins and more!</font></p>

	<h3><a class="header-link" href="https://scratch.mit.edu/discuss/topic/155392/">tubi for iBot</a></h3><p><font size="4">The largest iBot mod with over 50 commands! This was developed for <a href="https://scratch.mit.edu/users/-Flames-/">-Flames-</a>'s <a href="https://scratch.mit.edu/projects/86171315/">iBot: Moddable</a> project.</font></p>
  </div>
</div>

{% endblock %}
